.outerContainer{
    display: flex;
    flex-direction: column; 
}
.form{
width: 100%;
}
.fieldsContainer{
   display: flex;
   flex-direction: column; 
}
.field{
outline: none;
border-bottom: 1px solid #e2e2e2;
border-right: 1px solid #e2e2e2;
border-top: none;
border-left: none;
 color: black;
 font-size: 12px;
 width: 90%;
 height: 80%;
padding: 10px 7px;
margin: 10px auto;
}
.field:hover{
background-color: #f7f9fa;
}
.button{
outline: none;
border-bottom: 1px solid #e2e2e2;
border-right: 1px solid #e2e2e2;
border-top: none;
border-left: none;
color: white;
background-color:#ee384e;
font-size: 22px;
 width: 95%;
 height: 80%;
padding: 10px 7px;
margin: 10px auto;
}
.button:hover{
    transition: all .5s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.footer{
    color: rgb(141, 143, 144);
    font-size: 10px;
}
